#form {
    background: #f6f6f6;
    padding: 10px;
}

.row {
    margin: 5px;
    display: flex;
}
.col {
    text-align: right;
    width: 50%;
}

input[type="submit"] {

    margin: 10px 10px 10px 95%;
}